* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playpen Sans', cursive;
}

body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

/* Estilos de la barra de navegacion */
.header {
    background-color: lightslategrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

/* hacer que se vea la manito cuando acerco el mouse al logo */
.header .logo {
    cursor: pointer;
}

.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.4s;
}

/* Efecto sobre el logo para que palpite */
.header .logo img:hover {
    transform: scale(1, 2);
    width: auto;
}

/* Sacamos el subrayado */
.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

/* hacemos que se mueva cuando lo tocas */
.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-size: 700;
    color: rgba(255, 247, 237, 0.89);
    text-decoration: none;
}

/* cambia de color cuando lo tocas */
.header .nav-links li a:hover {
    color: rgb(202, 177, 143);
}

/* main */
main {
    display: flex;
    flex-wrap: wrap;

}

main h1{
   padding: 30px;
   text-shadow: 2px 2px gray;
}
main p{
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
/* formulario */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 2px;
    text-align: center;
    align-items: center;
    color: rgba(128, 0, 128, 0.534);
}

form input {
    margin: 10px 10px;

}
form label{
    font-weight: bold;
    color: purple;
}

fieldset {
    padding: 20px;
}

.form-contenedor {
    padding: 20px;
}

.form-contenedor li {
    list-style: none;
}
.form-boton{
    border-radius: 15px;
    width: 90px;
    background-color: darkorchid;
    color: antiquewhite;
}
.form-boton:hover{
    background-color: purple;
}