body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

/* Estilos de la barra de navegacion */
.header {
    background-color:lightslategrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

/* hacer que se vea la manito cuando acerco el mouse al logo */
.header .logo {
    cursor: pointer;
}

.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.4s;
}

/* Efecto sobre el logo para que palpite */
.header .logo img:hover {
    transform: scale(1, 2);
    width: auto;
}

/* Sacamos el subrayado */
.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

/* hacemos que se mueva cuando lo tocas */
.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-size: 700;
    color:rgba(255, 247, 237, 0.89);
    text-decoration: none;
}

/* cambia de color cuando lo tocas */
.header .nav-links li a:hover {
    color: rgb(202, 177, 143);
}

/* Estilo del titulo antes de las cards */

h1 {
    margin: 8x;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

p {
    margin: 8px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #6a6a6a;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

/* Estilos del form */

.adoptar-1 {
    font-family: 'Times New Roman', Times, serif;
    opacity: 0.9;
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    display: flex;
    height: 85%;
}

.form {
    background-color: #fff;
    margin: auto;
    width: 90%;
    max-width: 600px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0, 0, 0 / 30%);
    text-align: center;
}

.form-title {
    font-size: 2rem;
    margin-bottom: .5em;
}

.form-text {
    font-weight: 300;
}

.form-container {
    margin-top: 3em;
    display: grid;
    gap: 1em;
}

.form-grupo {
    position: relative;
    color: #575757;
}


.form-input {
    width: 100%;
    background: none;
    color: #706e6e;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid #575757;
    font-family: 'Times New Roman', Times, serif;
}

.form-label {
    color: #575757;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form-submit {
    background:rgba(224, 154, 48, 0.716);
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}

.form-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(224, 154, 48, 0.716);
}

@media (max-width:425px)
{
    .form-title {
        font-size: 1.8rem;
    }
}

/* Estilos del footer */
footer {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}